CAP_SERVER_URL=https://xse.yuelk.com
NEXT_PUBLIC_YUEM_MOBILE_SERVER_URL=https://xse.yuelk.com
NEXT_PUBLIC_API_BASE_URL=https://xse.yuelk.com
NEXT_PUBLIC_YUEM_MOBILE_CALLBACK_SCHEME=xsewebfast
NEXT_PUBLIC_YUEM_MOBILE_APP_VERSION=1.0.0
NEXT_PUBLIC_YUEM_IN_APP_HOSTS=xse.yuelk.com,cs.yuelk.com
NEXT_PUBLIC_YUEM_AUTH_BROWSER_HOSTS=user.yuelk.com
